 .u-section-1 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Tillana;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(255,215,0,0.4);
  margin: 50px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-family: "Ruslan Display";
  font-weight: 700;
  margin: 150px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 50px 0 -360px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 63px;
    margin-right: 63px;
    margin-bottom: -339px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 70px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -660px;
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 32px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 18px;
    margin-bottom: -172px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 327px;
}

.u-section-2 .u-text-1 {
  font-family: "Ruslan Display";
  text-shadow: 2px 5px 8px rgba(255,215,0,0.7);
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: normal;
  margin: 150px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Tillana;
  text-shadow: 2px 5px 8px rgba(255,215,0,0.7);
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 -269px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 144px;
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-bottom: -61px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 90px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-bottom: -306px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-bottom: -329px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 75px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin-bottom: 51px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-3 .u-sheet-1 {
  min-height: 493px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 202px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap: 31px 31px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  font-size: 1.25rem;
  width: 126px;
  margin: 26px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-icon-3 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-2 {
  font-weight: 500;
  font-size: 1.25rem;
  width: 126px;
  margin: 26px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-3 .u-icon-5 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  width: 126px;
  margin: 26px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-3 .u-icon-7 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  width: 126px;
  margin: 26px auto 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-size: 1.25rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-3 .u-icon-9 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  font-size: 1.25rem;
  width: 126px;
  margin: 26px auto 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  font-family: Acme;
  margin: -417px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  margin: -2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 30px) calc(33.3333% - 30px) calc(33.3333% - 30px);
    grid-gap: 45px 45px;
  }

  .u-section-3 .u-text-6 {
    width: 666px;
    margin-top: -711px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 62px;
    margin-right: 62px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1700px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 195px;
  }

  .u-section-3 .u-repeater-1 {
    grid-gap: 50px 50px;
    grid-template-columns: 100%;
    min-height: 1485px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -1630px;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
    margin: 0 0 674px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 179px;
  }

  .u-section-3 .u-text-6 {
    width: 540px;
    font-size: 1.875rem;
    margin-top: -1614px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-3 .u-list-1 {
    width: 202px;
    margin-top: 149px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1333px;
    grid-gap: 57px 57px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -49px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -49px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -49px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: -49px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: -49px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: -1432px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.25rem;
    margin-bottom: -355px;
  }
} .u-section-4 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-4 .u-sheet-1 {
  min-height: 493px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: Acme;
  margin: 50px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 48px;
  margin-bottom: 26px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 265px;
  grid-gap: 31px 31px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-4 .u-icon-3 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-4 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: 40px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-4 .u-text-1 {
    width: 666px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 25px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 50px 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-list-1 {
    width: 203px;
    margin: 50px auto -153px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 570px;
    grid-gap: 57px 57px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 29px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -49px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 29px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -49px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 22px;
  }
} .u-section-5 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-5 .u-sheet-1 {
  min-height: 565px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-family: Acme;
  margin: 50px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  margin: 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px auto 25px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
  min-height: 192px;
  grid-gap: 31px 31px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-5 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 26px;
}

.u-section-5 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-5 .u-icon-2 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 26px;
}

.u-section-5 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-5 .u-icon-3 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 26px;
}

.u-section-5 .u-text-5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-5 .u-text-1 {
    width: 666px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 31.3333px) calc(33.3333% - 31.3333px) calc(33.3333% - 31.3333px);
    min-height: 158px;
    grid-gap: 47px 47px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 653px;
    grid-gap: 53px 53px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-list-1 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1218px;
    grid-gap: 57px 57px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -49px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -49px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -49px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 31px;
  }
} .u-section-6 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-6 .u-sheet-1 {
  min-height: 421px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-family: Acme;
  margin: 50px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  margin: 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px auto 25px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 192px;
  grid-gap: 31px 31px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-6 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 13px;
}

.u-section-6 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-6 .u-icon-2 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 13px;
}

.u-section-6 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-6 .u-text-1 {
    width: 666px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 47px 47px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-list-1 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 657px;
    grid-gap: 57px 57px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -49px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 31px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -49px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 31px;
  }
} .u-section-7 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-7 .u-sheet-1 {
  min-height: 670px;
}

.u-section-7 .u-shape-1 {
  width: 1028px;
  height: 513px;
  margin: 91px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 864px;
  margin: -554px 132px -6px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 615px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-family: Acme;
  margin: 41px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 48px 0 0;
}

.u-section-7 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-7 .u-btn-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 10px 31px 10px 29px;
}

.u-section-7 .u-icon-1 {
  margin-right: 8px;
  vertical-align: 0px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/3f6071628a5d84163007aabbf7c0cbbff6ff4d3611536b9ac7eef406333208f14078279fb44956d06ebce24786c95332e613b78d975c2b19ddba55_1280.png");
  background-position: 50% 50%;
  min-height: 561px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-7 .u-btn-1 {
    padding: 8px 88px 9px 86px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-7 .u-shape-1 {
    height: 472px;
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 650px;
    margin-top: -530px;
    margin-bottom: -21px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    margin-top: 26px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 1.25rem;
    padding: 0 51px 0 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 608px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-7 .u-shape-1 {
    height: 603px;
    margin-top: 175px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 428px;
    margin-top: -727px;
    margin-bottom: 49px;
  }

  .u-section-7 .u-image-1 {
    min-height: 462px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-7 .u-shape-1 {
    height: 852px;
    margin-top: 56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 259px;
    margin-top: -858px;
    margin-bottom: -3px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 29px 20px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-btn-1 {
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-7 .u-image-1 {
    min-height: 367px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 278px;
}

.u-section-8 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 203px;
  grid-gap: 20px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    min-height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 16px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 456px;
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 25px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-7 {
    font-size: 3rem;
  }
} .u-section-9 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-9 .u-sheet-1 {
  min-height: 544px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 469px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-9 .u-image-1 {
  width: 159px;
  height: 159px;
  background-image: url("images/xBalancedVPNLogo-Gold.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  margin: 20px auto 0 419px;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-9 .u-image-1 {
    width: 113px;
    height: 113px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -396px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -559px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 39px;
  }
}