 .u-section-1 {
  background-image: linear-gradient(#ffd700, white);
  min-height: 1248px;
}

.u-section-1 .u-image-1 {
  height: 614px;
  margin-top: 100px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Tillana;
  font-weight: 700;
  margin: 78px 70px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 50px calc(((100% - 1140px) / 2) + 32px) -15px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1310px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 796px;
  }

  .u-section-1 .u-text-2 {
    width: 814px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1085px;
  }

  .u-section-1 .u-image-1 {
    height: 399px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: -288px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1418px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 660px;
  }

  .u-section-1 .u-image-1 {
    height: 221px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 41px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 1.125rem;
    margin: 0 auto -52px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 646px;
}

.u-section-2 .u-text-1 {
  font-family: "Ruslan Display";
  text-shadow: 2px 5px 8px rgba(255,215,0,0.7);
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: normal;
  margin: 100px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Tillana;
  text-shadow: 2px 5px 8px rgba(255,215,0,0.7);
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 100px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 666px;
    margin-top: 694px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-bottom: -300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: -596px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #f5d654);
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: Acme;
  margin: 50px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  width: 816px;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap: 31px 31px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-3 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 500;
  background-image: none;
  margin: 13px 8px 0;
}

.u-section-3 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 5px auto 0;
  padding: 7px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: 13px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-3 .u-icon-3 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 500;
  background-image: none;
  margin: 13px 8px 0;
}

.u-section-3 .u-icon-4 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 5px auto 0;
  padding: 7px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  background-image: none;
  margin: 13px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-3 .u-icon-5 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 500;
  background-image: none;
  margin: 13px 8px 0;
}

.u-section-3 .u-icon-6 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 5px auto 0;
  padding: 7px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  background-image: none;
  margin: 13px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 21px;
}

.u-section-3 .u-icon-7 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 500;
  background-image: none;
  margin: 13px 8px 0;
}

.u-section-3 .u-icon-8 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 5px auto 0;
  padding: 7px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  background-image: none;
  margin: 13px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 21px;
}

.u-section-3 .u-icon-9 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 500;
  background-image: none;
  margin: 13px 8px 0;
}

.u-section-3 .u-icon-10 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 5px auto 0;
  padding: 7px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  background-image: none;
  margin: 13px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 694px;
    width: 666px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 43px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -125px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 75px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -157px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 75px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -157px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 75px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -157px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 75px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -157px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1454px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin: 72px auto 21px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 55px 55px;
    width: 720px;
    margin-right: 0;
    margin-left: auto;
    min-height: 1221px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1733px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-right: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1486px;
    grid-gap: 58px 58px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -50px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -50px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -50px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: -50px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: -50px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 9px;
  }
} .u-section-4 {
  background-image: linear-gradient(#f5d654, #ffd700);
}

.u-section-4 .u-sheet-1 {
  min-height: 495px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: Acme;
  margin: 50px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  width: 816px;
  margin: 0 auto;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px auto 36px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 192px;
  grid-gap: 31px 31px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-4 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 59px auto 0 119px;
  padding: 7px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  background-image: none;
  width: 170px;
  margin: -38px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-4 .u-icon-3 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -42px auto 0;
  padding: 13px;
}

.u-section-4 .u-text-5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-4 .u-icon-4 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 59px auto 0 119px;
  padding: 7px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  background-image: none;
  width: 170px;
  margin: -38px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 694px;
    width: 666px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 57px 57px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -49px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 31px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 10px;
    margin-left: 48px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -49px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 31px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 10px;
    margin-left: 48px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: auto;
    margin-left: auto;
  }
} .u-section-5 {
  background-image: linear-gradient(#ffd700, #f5d654);
}

.u-section-5 .u-sheet-1 {
  min-height: 509px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-family: Acme;
  margin: 50px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  width: 816px;
  margin: 0 auto;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
  min-height: 192px;
  grid-gap: 31px 31px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-5 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 20px;
}

.u-section-5 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-5 .u-icon-2 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 20px;
}

.u-section-5 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-5 .u-icon-3 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 20px;
}

.u-section-5 .u-text-5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 694px;
    width: 666px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
    min-height: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 363px;
    grid-gap: 53px 53px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 57px 57px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -49px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 31px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -49px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 31px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -49px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 31px;
  }
} .u-section-6 {
  background-image: linear-gradient(#f5d654, white);
}

.u-section-6 .u-sheet-1 {
  min-height: 446px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-family: Acme;
  margin: 50px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  width: 816px;
  margin: 0 auto;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px auto -22px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 192px;
  grid-gap: 31px 31px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-6 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 13px;
}

.u-section-6 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-6 .u-icon-2 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -44px auto 0;
  padding: 13px;
}

.u-section-6 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 694px;
    width: 666px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.8125rem;
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 57px 57px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -49px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 31px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -49px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 31px;
  }
} .u-section-7 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-7 .u-sheet-1 {
  min-height: 695px;
}

.u-section-7 .u-shape-1 {
  width: 1028px;
  height: 513px;
  margin: 91px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 864px;
  margin: -554px 132px 19px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 615px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-family: Acme;
  margin: 41px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 48px 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  background-image: none;
  margin: 40px auto 0;
  padding: 20px 58px 22px 57px;
}

.u-section-7 .u-icon-2 {
  width: 45px;
  height: 45px;
  margin: -63px auto 17px 71px;
  padding: 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/3f6071628a5d84163007aabbf7c0cbbff6ff4d3611536b9ac7eef406333208f14078279fb44956d06ebce24786c95332e613b78d975c2b19ddba55_1280.png");
  background-position: 50% 50%;
  min-height: 561px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: 76px;
  }

  .u-section-7 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-7 .u-shape-1 {
    height: 472px;
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 650px;
    margin-top: -530px;
    margin-right: 0;
    margin-bottom: -21px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    margin-top: 26px;
  }

  .u-section-7 .u-image-1 {
    min-height: 608px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-7 .u-shape-1 {
    height: 603px;
    margin-top: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 428px;
    margin-top: -693px;
    margin-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 462px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-7 .u-shape-1 {
    height: 852px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 259px;
    margin-top: -885px;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 29px 20px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-btn-1 {
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 21px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -65px;
    margin-bottom: 20px;
    margin-left: 8px;
  }

  .u-section-7 .u-image-1 {
    min-height: 367px;
  }
} .u-section-8 {
  background-image: linear-gradient(#ffd700, white);
}

.u-section-8 .u-sheet-1 {
  min-height: 303px;
}

.u-section-8 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 203px;
  grid-gap: 20px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    min-height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 16px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 456px;
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-7 {
    font-size: 3rem;
  }
} .u-section-9 {
  background-image: linear-gradient(white, #ffd700);
}

.u-section-9 .u-sheet-1 {
  min-height: 586px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 520px;
  margin: 50px auto 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 469px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-9 .u-image-1 {
  width: 159px;
  height: 159px;
  background-image: url("images/xBalancedVPNLogo-Gold.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  margin: 20px auto 0 108px;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-image-1 {
    width: 113px;
    height: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }
}